*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

#root {
  background: rgb(249, 252, 249);
  background: linear-gradient(
    90deg,
    rgba(249, 252, 249, 1) 0%,
    rgba(226, 232, 232, 1) 98%
  );
  background-image: url(../public/5570863.jpg);
  background-size: cover;
  height: 100vh;
  overflow: auto;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  color: #f7b801;
}

.nav,
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: uppercase;
  margin: 0 8em;
  padding-top: 2em;
}

@media (max-width: 900px) {
  .nav,
  .footer {
    margin: 0 4em;
  }
}

.logo {
  font-family: "Concert One", cursive;
  font-size: 3rem;
  color: #f7b801;
}

.nav-items {
  display: flex;
}

.nav-items p {
  font-family: "Dosis", sans-serif;
  font-size: 1.1rem;
  margin-left: 2em;
}

@media (max-width: 650px) {
  .logo {
    font-size: 2rem;
  }

  .nav-items p {
    font-size: 1rem;
  }

  .nav-items {
    text-align: end;
  }
}

/* converter */

.centre-container {
  width: 70%;
  height: 400px;
  margin: 4em auto 8em;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.content-container {
  display: flex;
  margin: 5em;
}

.currency-container {
  display: flex;
  margin-left: 2em;
}

.currency-container div:not(.icon) {
  min-width: 200px;
}

@media (max-width: 1250px) {
  .centre-container {
    width: 80%;
    overflow: unset;
    margin-bottom: 4em;
  }

  .content-container {
    margin: 5em 1em;
    padding-top: 2em;
  }
}

@media (max-width: 1000px) {
  .currency-container div:not(.icon),
  input {
    max-width: 150px;
    min-width: 150px;
  }
}

@media (max-width: 780px) {
  .content-container {
    flex-direction: column;
  }

  .currency-container {
    margin-top: 1em;
    margin-left: 0;
  }
}

.icon {
  padding: 5px 8px;
  margin: auto 1em;
  cursor: pointer;
}

@media (max-width: 550px) {
  .currency-container {
    flex-direction: column;
  }

  .icon {
    padding: 0;
    margin: 1em 0;
    height: min-content;
  }

  .icon svg {
    transform: rotate(90deg);
  }

  .centre-container {
    height: auto;
    width: 90%;
  }

  .content-container {
    width: fit-content;
    margin: 0 auto 3em;
  }

  .nav {
    margin: 0 1.5em;
  }

  .footer {
    padding: 2em;
  }
}

img {
  max-width: 40px;
  margin-right: 0.5em;
  vertical-align: middle;
}

ul {
  list-style: none;
}

.currency {
  display: flex;
  flex-direction: column;
}

select {
  width: 200px;
  padding: 1.1em 0.9em;
  font-size: 0.9rem;
}

.currency-options {
  padding: 0px !important;
  margin: 0px !important;
  background: #ffffff;
  height: 56px;
  font-weight: 600;
  border: 1px solid black;
  border-radius: 10px;
}

.scrollable-menu {
  height: 200px;
  overflow-x: hidden;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  margin-top: 2px;
  border-radius: 10px;
}

li:not(.scrollable-menu) {
  padding: 7px 20px;
  z-index: 2;
}

ul li:not(.init):hover,
ul li.selected:not(.init) {
  background: #fbfbff;
}

li {
  cursor: pointer;
  vertical-align: top;
}

.init {
  display: flex;
  align-items: center;
}

ul li li {
  border-bottom: 1px solid #e9ecef;
  background: #ffffff;
}

input {
  border: 1px solid rgb(118, 118, 118);
  padding-left: 1em;
  padding: 1.1em 0.9em;
  font-size: 0.9rem;
}

input:focus {
  outline: #f7b801 solid 1px;
}

.button {
  margin: 2em 1em;
  background: inherit;
  border: none;
  font-weight: bold;
  text-align: center;
  cursor: pointer;
  width: fit-content;
}

.icon:hover,
.button:hover {
  color: #f7b801;
}

.label {
  margin-left: 0.5em;
  margin-bottom: 0 !important;
  font-size: 0.8rem;
}

.result {
  margin-left: 5em;
  margin-right: 10em;
}

@media (max-width: 550px) {
  .button {
    margin: 1em 0;
  }

  .result {
    width: fit-content;
    margin: 0 auto;
    padding-bottom: 2em;
  }
}

.result p:last-of-type {
  font-size: 2em;
  font-family: "Dosis", sans-serif;
}

.github {
  background-image: url(../public/github-mark.png);
  background-size: cover;
  background-position: center;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

/* rates */

.rates {
  width: 70%;
  margin: 4em auto 0;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.2);
  padding: 2em 1em;
  height: 500px;
  overflow-y: scroll;
  text-align: center;
}

.rates-options {
  cursor: pointer;
  /* height: 200px; */
  list-style: none;
  background: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.rates-options label:first-of-type {
  position: relative;
  width: 50%;
  padding: 0;
}

.rates-options label:last-of-type p {
  padding: 7px 20px 10px;
}

.rates-options button {
  background: #ffffff;
  cursor: pointer;
  border-radius: 10px;
  border-width: 1px;
}

.rates-options button:hover {
  box-shadow: 2px 2px #888888;
}

.rate-select {
  position: absolute;
  width: 100%;
}

.rate-select ul {
  width: 100%;
  padding: 0;
}

.rate-current {
  z-index: 5;
}

/* .rate-current {
  display: flex;
  justify-content: space-around;
} */

.rate-icon {
  margin-left: 1em;
}

.rates-container {
  display: flex;
  margin-top: 1em;
  line-height: 2rem;
}

.rates-container div {
  width: 100%;
}

.rates-container div p {
  border-bottom: 1px solid #e9ecef;
  width: 100%;
  padding: 0.5em 0;
}

.rates-data p img,
.rate-current img,
.rate-select ul li img {
  height: 26px;
}

.rates-data div {
  display: flex;
}

@media (max-width: 550px) {
  .rates {
    height: auto;
    overflow-y: auto;
  }

  .rates-options label:first-of-type ul {
    padding: 0;
  }
}
